<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
                <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content" style="background-color: rgb(243, 216, 253);">
            {{>header}}
            <p>This site was created by <a href="https://www.linkedin.com/in/jashanveer-singh-a4160b1b4/" style="color:black ; text-decoration:none">Jashanveer Singh</a>. It uses data from mapbox and openweather api's</p>
            <img class="portrait" src="/img/Jashan.jpg" alt="" >
        </div>
        {{>footer}}
    </body>
</html>